body {
    background-color: #F4EDFF !important;
}

.container {
    min-height: 100vh;
    background-color: #F4EDFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.quiz-answer-card:hover {
cursor: pointer;
background-color: rgba(0,0,0,0.05);
}

/*.bg-success, .bg-danger {
    color: white;
}*/
.quiz-answer-card.bg-success .card-body,
.quiz-answer-card.bg-danger .card-body {
    color: white;
}
